

<nav style="background-color: #F2F2F2; padding: 20px; margin:20px 30px; ;">
    <a href="#" style="border: 1px solid burlywood;padding: 5px; margin-right: 20px; text-decoration: none; color: #333;background-color: bisque;border-radius: 3px;">Home</a>
    <a href="#" style="border: 1px solid burlywood;padding: 5px; margin-right: 20px; text-decoration: none; color: #333;background-color: bisque;border-radius: 3px;">Profile</a>
    <a href="#" style="border: 1px solid burlywood;padding: 5px; margin-right: 20px; text-decoration: none; color: #333;background-color: bisque;border-radius: 3px;">Messages</a>
    <a href="#" style="border: 1px solid burlywood; padding: 5px;;margin-right: 20px; text-decoration: none; color: #333;background-color: bisque;border-radius: 3px;">Notifications</a>

    <a href="#" style="border: 1px solid burlywood;padding: 5px; text-decoration: none; color: #333;background-color: bisque;border-radius: 3px;">Settings</a>
    
  </nav>
  