
<form action="/users/create-session" method="post" style="max-width: 300px; margin: 20px auto;">
    <h2 style="text-align: center;">Sign In</h2>
    <div style="margin-bottom: 10px;">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="Your Email" required
      style="width: 100%; padding: 5px;">
    </div>
    <div style="margin-bottom: 10px;">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Your password" required
      id="password" style="width: 100%; padding: 5px;">
    </div>
    <button type="submit" value="sign In"
    style="width: 100%; padding: 8px; background-color: #333; color: #FFF; border: none;">Sign In</button>
  </form>
  